h3 {
  margin-top: 1em;
  padding-bottom: .5em;
  margin-left: 0;
  margin-bottom: 1em;
}
.column {
  display: flex;
  justify-content:center;

  .control {
    width: 100%;
    padding: 0.5em;
  }

  &.buttons {
    justify-content: space-between;

    .control {
      width: auto;
    }
  }
}
.plain-div
{
  width: 100%;
  padding: 0.7em 0.5em;
  border: 1px solid #dededf;
  border-radius: 4px;
}
