<div class="container">
  <app-order-steps [steps]="steps" [active]="step"></app-order-steps>
  <form *ngIf="step === 1" [formGroup]="petForm">
    <h4 class="step-title">Персональная информация</h4>
    <div class="column">
      <div class="control">
        <label for="name" class="label">Кличка</label>
        <input
          class="plain-input"
          type="text"
          id="name"
          placeholder="Кличка"
          formControlName="name"
        />
      </div>
      <div class="control">
        <label for="lastName" class="label">Название породы</label>
        <input
          class="plain-input"
          type="text"
          id="lastName"
          placeholder="Название породы"
          formControlName="lastName"
        />
      </div>
    </div>
    <div class="column">
      <div class="control">
        <label for="age" class="label">Возраст</label>
        <input
          class="plain-input"
          type="text"
          id="age"
          placeholder="Возраст"
          formControlName="age"
        />
      </div>
      <div class="control">
        <div class="label">Пол</div>
        <input class="plain-radio" type="radio" id="male" name="sex" value="male" formControlName="sex"/>
        <label for="male">Кот</label>
        <input class="plain-radio" type="radio" id="female" name="sex" value="female" formControlName="sex"/>
        <label for="female">Кошка</label>
      </div>
    </div>
    <h4 class="step-title">Информация для связи</h4>
    <div class="column">
      <div class="control">
        <label for="email" class="label">Почта</label>
        <input
          class="plain-input"
          type="text"
          id="email"
          placeholder="Почта"
          formControlName="email"
        />
      </div>
      <div class="control">
        <label for="phone" class="label">Телефон</label>
        <input
          class="plain-input"
          type="text"
          id="phone"
          placeholder="Телефон"
          formControlName="phone"
        />
      </div>
    </div>
  </form>
  <form *ngIf="step === 2" [formGroup]="vetForm">
    <h4 class="step-title">Выбор специалиста</h4>
    <div class="column">
      <div class="control">
        <label for="doctorName" class="label">ФИО ветеринара</label>
        <input
          class="plain-input"
          type="text"
          id="doctorName"
          placeholder="ФИО ветеринара"
          formControlName="doctorName"
        />
      </div>
      <div class="control">
        <label for="time" class="label">Время приема</label>
        <input
          class="plain-input"
          type="text"
          id="time"
          placeholder="Время приема"
          formControlName="time"
        />
      </div>
    </div>
  </form>
  <div *ngIf="step === 3">
    <h4 class="step-title">Подтверждение заявки</h4>
    <pre>
      {{data | json}}
    </pre>
  </div>
  <div class="column buttons">
    <div class="control">
      <button *ngIf="step !== 1" class="plain-button" (click)="prev()">Назад</button>
    </div>
    <div class="control">
      <button class="plain-button" (click)="next()">Далее</button>
    </div>
  </div>
</div>
