.step-title {
  padding-bottom: .5em;
  border-bottom: 1px solid #dededf;
  margin-bottom: 1em;
}
.important{
  border-bottom:100px,solid,red;
  padding-left:20%;
  padding-right:20%;
  padding-top:20px;
}
.control{
  height:5px;
  border:10px,solid,red;

}
