<div *ngIf="loading" class="loader"></div>
<div *ngIf="!loading" class="container">
  <h3 class="title">Список заявок</h3>
  <div class="order" *ngFor="let order of orders">
    <div class="service-info">
      <div class="icon">
        <img [src]="getServiceIcon(order.serviceId)" alt="">
      </div>
      <div class="info">
        <h4 class="name">{{getServiceName(order.serviceId)}}</h4>
        <div>Статус: {{order.status === 'ACCEPTED' ? 'Принята' : 'Отклонена'}}</div>
      </div>
    </div>
    {{order.fields | json}}
  </div>
  <div class="order" *ngFor="let order of listPrava">
    <div class="service-info">
      <div class="icon">
        <img [src]="getServiceIcon(6)" alt="">
      </div>
      <div class="info">
        <h4 class="name">{{getServiceName(6)}}</h4>
        <div>Статус: {{order.status === 'ACCEPTED' ? 'Принята' : 'На рассмотрении'}}</div>
      </div>
    </div>
    {{order.kittens | json}} {{order.passports | json}} {{order.certificates | json}}
    {{order.num_otdelGIBDD | json}} {{order.date_otdelGIBDD | json}} {{order.time_otdelGIBDD | json}}
  </div>
</div>
