<div *ngIf="loading" class="loader"></div>
<div *ngIf="!loading" class="container">
  <h3 class="title">Список заявок</h3>
  <div class="order" *ngFor="let order of orders"
       [ngStyle]="{'background-color': (order.status === 'ACCEPTED') ? '#85EF89' : '#FF8282'}">
    <div class="service-info">
      <div class="icon">
        <img [src]="getServiceIcon(order.serviceId)" alt="">
      </div>
      <div class="info">
        <h4 class="name">{{getServiceName(order.serviceId)}}</h4>
        <div>Статус: {{order.status === 'ACCEPTED' ? 'Принята' : 'Отклонена'}}</div>
      </div>
    </div>
      <div *ngFor="let el of order.fields | keyvalue">
        {{el.value | json}}
    </div>
  </div>
</div>
