<div *ngIf="loading" class="loader"></div>
<div *ngIf="!loading" class="container">
  <h3 class="title">Список заявок</h3>
  <div class="order" *ngFor="let order of orders">
    <div class="service-info">
      <div class="icon">
        <img [src]="getServiceIcon(order.serviceId)" alt="">
      </div>
      <div class="info">
        <h4 class="name">{{getServiceName(order.serviceId)}}</h4>
        <div>Статус: {{order.status === 'ACCEPTED' ? 'Принята' : 'Отклонена'}}</div>
      </div>
    </div>
    {{order.fields | json}}
  </div>
  <div class="order" *ngFor="let order of listPrava">
    <div class="service-info">
      <div class="icon">
        <img [src]="getServiceIcon(order.serviceId)" alt="">
      </div>
      <div class="info">
        <h4 class="name">{{getServiceName(order.serviceId)}}</h4>
        <div>Статус: {{order.status === 'ACCEPTED' ? 'Принята' : 'На рассмотрении'}}</div>
      </div>
    </div>
    <p>ИНФОРМАЦИЯ О КОТИКЕ: Имя: {{order.kittens[0].value}}; Порода: {{order.kittens[1].value}};
      Пол: {{order.kittens[2].value}}; Возраст: {{order.kittens[3].value}}</p>
    <p>ИНФОРМАЦИЯ О ПАСПОРТЕ: Номер и серия: {{order.passports[0].value}}; Дата получения: {{order.passports[1].value}};
      Номер подразделения: {{order.passports[2].value}}; Адрес регистрации: {{order.passports[3].value}}</p>
    <p>ИНФОРМАЦИЯ О СЕРТИФИКАТАХ: Название автошколы: {{order.certificates[0].value}};
      Номер сертификата: {{order.certificates[1].value}}; Дата получения сертификата: {{order.certificates[2].value}};
      Номер справки: {{order.certificates[3].value}}; Дата получения справки: {{order.certificates[4].value}}</p>
  </div>
</div>
