.red_cat{
    color: #1270B7;
}
.blue_cat{
    color: #ED2E52;
}
.header_padded{
    padding-top: 10px;
    font-size: 1.28571429em;
    font-weight: bold;
}
.footer {
    background: #E6EBEC;
    position: fixed; /* Фиксированное положение */
    left: 0;
    bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}

.radioGroupTop{
    padding-top: 10px;
}