<div class ="container">
  <app-order-steps [steps]="steps" [active]="step"></app-order-steps>
  <form *ngIf="step === 1" [formGroup]="catMigrationForm">
    <h3 class="function-title column">Миграция кошечки</h3>
    <div class="column">
      <div class="control">
        <label for="sender" class="label">ФИО отправителя</label>
        <select onchange="this.selectedIndex && (cat_ID.selectedIndex=0)" id="sender" class="plain-select" style='color:gray' oninput='style.color="black"' formControlName="sender_ID">
          <option value="" disabled selected hidden>ФИО отправителя</option>
          <option   *ngFor="let dt of ownersSurnames" [ngValue]="dt.id" >{{ dt.surname + ' ' + dt.name + ' ' + dt.middle_NAME}}</option>
        </select>
        <div class="error" *ngIf="(catMigrationForm.get('sender_ID').value && !catMigrationForm.get('sender_ID').pristine)
        || (catMigrationForm.get('sender_ID').value == catMigrationForm.get('recipient_ID').value
        || catMigrationForm.get('sender_ID').value == 0)">
          <ng-container *ngIf="catMigrationForm.get('sender_ID').value == 0">
            Поле обязательно для заполнения
          </ng-container>
          <ng-container *ngIf="catMigrationForm.get('sender_ID').value == catMigrationForm.get('recipient_ID').value && catMigrationForm.get('sender_ID').value != 0" >
            Отправитель и получатель не могу быть равны!
          </ng-container>
        </div>
      </div>
      <div class="control">
        <label for="owners" class="label">ФИО получателя</label>
        <select id="owners" class="plain-select" style='color:gray' oninput='style.color="black"' name="testX" formControlName="recipient_ID">
          <option id = "0" value="" disabled selected hidden>ФИО получателя</option>
          <option *ngFor="let dt of ownersSurnames" [ngValue]="dt.id">{{ dt.surname + ' ' + dt.name + ' ' + dt.middle_NAME}}</option>
        </select>
        <div class="error" *ngIf="(catMigrationForm.get('recipient_ID').value && !catMigrationForm.get('recipient_ID').pristine)
        || catMigrationForm.get('recipient_ID').value == 0">
          <ng-container *ngIf="catMigrationForm.get('recipient_ID').value == 0">
            Поле обязательно для заполнения
          </ng-container>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="control">
        <label for="cat_ID" class="label">Котик</label>
        <select id="cat_ID" class="plain-select" style='color:gray' oninput='style.color="black"' formControlName="cat_ID">
          <option value="" disabled selected hidden>Котик</option>
          <option *ngFor="let dt of Cats" [ngValue]="dt.id" [hidden]="catMigrationForm.get('sender_ID').value != dt.owner_ID">{{ dt.name }}</option>
        </select>
        <div class="error" *ngIf="catMigrationForm.get('cat_ID').invalid && !catMigrationForm.get('cat_ID').pristine || catMigrationForm.get('cat_ID').value == ''">
          <ng-container *ngIf="catMigrationForm.get('cat_ID').value == ''">
            Поле обязательно для заполнения
          </ng-container>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="control">
        <div class="label">Время пребывания</div>
        <input class="plain-radio" type="radio" id="Migration_Constant" name="timeMessage" value="Постоянная" formControlName="timeMessage"/>
        <label for="Migration_Constant">Постоянно</label>
        <input class="plain-radio" type="radio" id="Migration_Temporary" name="timeMessage" value="Временная" formControlName="timeMessage"/>
        <label for="Migration_Temporary">Временно</label>
      </div>
    </div>
  </form>
  <div *ngIf="step === 2">
    <h3 class="function-title column">Подтверждение заявки</h3>
    <div>
      <h4 class="function-title column">Хозяин</h4>
      <div class="column">
        <div class="control">
          <label class="label">ФИО отправителя</label>
          <div class="plain-div">{{outputSender}}</div>
        </div>
        <div class="control">
          <label class="label">ФИО получателя</label>
          <div class="plain-div">{{outputRecipient}}</div>
        </div>
      </div>
    </div>
    <div>
      <h4 class="function-title column">Котик</h4>
      <div class="column">
        <div class="control">
          <label class="label">Кличка</label>
          <div class="plain-div">{{data.name}}</div>
        </div>
        <div class="control">
          <label class="label">Порода</label>
          <div class="plain-div">{{data.breed}}</div>
        </div>
      </div>
      <div class="column">
        <div class="control">
          <label class="label">Возраст</label>
          <div class="plain-div">{{data.age}}</div>
        </div>
        <div class="control">
          <label class="label">Вес</label>
          <div class="plain-div">{{data.weight}}</div>
        </div>
      </div>
      <div class="column">
        <div class="control">
          <label class="label">Пол</label>
          <div class="plain-div">{{data.sex}}</div>
        </div>
        <div class="control">
          <label class="label">Имеются ли прививки</label>
          <div class="plain-div">{{data.vaccination_CERTIFICATE}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="column buttons">
    <div class="control">
      <button *ngIf="step !== 1" class="plain-button" (click)="prev()">Назад</button>
    </div>
    <div class="control">
      <button class="plain-button" (click)="goToNextStep()" [disabled]="catMigrationForm.invalid
      || (catMigrationForm.get('sender_ID').value == catMigrationForm.get('recipient_ID').value)
      || (catMigrationForm.get('sender_ID').value == 0 || catMigrationForm.get('recipient_ID').value == 0)
      || catMigrationForm.get('cat_ID').value == ''">Далее</button>
    </div>
  </div>
</div>
