<div class="container">
    <app-order-steps [steps]="steps" [active]="step"></app-order-steps>
    <form *ngIf="step === 1" [formGroup]="petForm">
        <h4 class="step-title">Информация о Вас</h4>
        <div class="column">
            <div class="control">
                <label for="name" class="label">Кличка</label>
                <input
                        class="plain-input"
                        type="text"
                        id="name"
                        placeholder="Позвольте узнать ваше имя"
                        formControlName="name"
                />
                <div class="error" *ngIf="petForm.get('name').invalid && !petForm.get('name').pristine">
                    <ng-container *ngIf="petForm.get('name').getError('required')">
                        Поле обязательно для заполнения
                    </ng-container>
                    <ng-container *ngIf="petForm.get('name').getError('pattern')">
                        Поле может состоять только из букв русского алфавита
                    </ng-container>
                </div>
            </div>
            <div class="control">
                <label for="breed" class="label">Порода</label>
                <input
                        class="plain-input"
                        type="text"
                        id="breed"
                        placeholder="Насколько ты необычный?"
                        formControlName="breed"
                />
                <div class="error" *ngIf="petForm.get('breed').invalid && !petForm.get('breed').pristine">
                    <ng-container *ngIf="petForm.get('breed').getError('required')">
                        Поле обязательно для заполнения
                    </ng-container>
                    <ng-container *ngIf="petForm.get('breed').getError('pattern')">
                        Поле может состоять только из букв русского алфавита
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="control">
                <label for="age" class="label">Возраст</label>
                <input
                        class="plain-input"
                        type="text"
                        id="age"
                        maxlength="2"
                        placeholder="Сколько годиков?"
                        formControlName="age"
                />
                <div class="error" *ngIf="petForm.get('age').invalid && !petForm.get('age').pristine">
                    <ng-container *ngIf="petForm.get('age').getError('required')">
                        Поле обязательно для заполнения
                    </ng-container>
                    <ng-container *ngIf="petForm.get('age').getError('pattern')">
                        Поле может состоять только из цифр от 1 до 99
                    </ng-container>
                </div>
            </div>
            <div class="control">
                <div class="label">Пол</div>
                <input class="plain-radio" type="radio" id="male" name="sex" value="male" formControlName="sex"/>
                <label for="male">Котик</label>
                <input class="plain-radio" type="radio" id="female" name="sex" value="female" formControlName="sex"/>
                <label for="female">Кошечка</label>
            </div>
        </div>
    </form>
    <form *ngIf="step === 2" [formGroup]="passportForm">
        <h4 class="step-title">Паспортные данные</h4>
        <div class="column">
            <div class="control">
                <label for="passportId" class="label">Номер и серия паспорта</label>
                <input
                        class="plain-input"
                        type="text"
                        id="passportId"
                        maxlength="10"
                        minlength="10"
                        placeholder="Первые 6 цифрр - номер, следующие 4 - серия"
                        formControlName="passportId"
                />
                <div class="error" *ngIf="passportForm.get('passportId').invalid && !passportForm.get('passportId').pristine">
                    <ng-container *ngIf="passportForm.get('passportId').getError('required')">
                        Поле обязательно для заполнения
                    </ng-container>
                    <ng-container *ngIf="passportForm.get('passportId').getError('pattern')">
                        Поле может содержать только цифры
                    </ng-container>
                </div>
            </div>
            <div class="control">
                <label for="passportDate" class="label">Дата получения паспорта</label>
                <input
                        class="plain-input"
                        type="date"
                        max="2023-02-03"
                        id="passportDate"
                        formControlName="passportDate"
                />
            </div>
        </div>
        <div class="column">
            <div class="control">
                <label for="numDepartment" class="label">Номер отделения, где был выдан паспорт</label>
                <input
                        class="plain-input"
                        type="text"
                        maxlength="6"
                        id="numDepartment"
                        placeholder="Где выдали-то?"
                        formControlName="numDepartment"
                />
                <div class="error" *ngIf="passportForm.get('numDepartment').invalid && !passportForm.get('numDepartment').pristine">
                    <ng-container *ngIf="passportForm.get('numDepartment').getError('required')">
                        Поле обязательно для заполнения
                    </ng-container>
                    <ng-container *ngIf="passportForm.get('numDepartment').getError('pattern')">
                        Поле может содержать только цифры
                    </ng-container>
                </div>
            </div>
            <div class="control">
                <label for="registration" class="label">Адрес вашей регистрации</label>
                <input
                        class="plain-input"
                        type="text"
                        id="registration"
                        placeholder="ГородУлицаДомКвартира"
                        formControlName="registration"
                />
                <div class="error" *ngIf="passportForm.get('registration').invalid && !passportForm.get('registration').pristine">
                    <ng-container *ngIf="passportForm.get('registration').getError('required')">
                        Поле обязательно для заполнения
                    </ng-container>
                    <ng-container *ngIf="passportForm.get('registration').getError('pattern')">
                        Поле может состоять только из букв русского алфавита
                    </ng-container>
                </div>
            </div>
        </div>
    </form>
    <form *ngIf="step === 3" [formGroup]="certificatesForm">
        <h4 class="step-title">Данные о сертификате</h4>
        <div class="column">
            <div class="control">
                <label for="educationPlace" class="label">Место прохождения обучения вождению</label>
                <input
                        class="plain-input"
                        type="text"
                        id="educationPlace"
                        placeholder="ГородНазвание авто-школы"
                        formControlName="educationPlace"
                />
                <div class="error" *ngIf="certificatesForm.get('educationPlace').invalid && !certificatesForm.get('educationPlace').pristine">
                    <ng-container *ngIf="certificatesForm.get('educationPlace').getError('required')">
                        Поле обязательно для заполнения
                    </ng-container>
                    <ng-container *ngIf="certificatesForm.get('educationPlace').getError('pattern')">
                        Поле может состоять только из букв русского алфавита
                    </ng-container>
                </div>
            </div>
            <div class="control">
                <label for="eduCertificateNumber" class="label">Номер сертификата</label>
                <input
                        class="plain-input"
                        type="text"
                        id="eduCertificateNumber"
                        maxlength="12"
                        placeholder="Двенадцать цифр на сертификате"
                        formControlName="eduCertificateNumber"
                />
                <div class="error" *ngIf="certificatesForm.get('eduCertificateNumber').invalid && !certificatesForm.get('eduCertificateNumber').pristine">
                    <ng-container *ngIf="certificatesForm.get('eduCertificateNumber').getError('required')">
                        Поле обязательно для заполнения
                    </ng-container>
                    <ng-container *ngIf="certificatesForm.get('eduCertificateNumber').getError('pattern')">
                        Поле может состоять только из цифр
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="control">
                <label for="eduCertificateDate" class="label">Дата получения сертификата</label>
                <input
                        class="plain-input"
                        type="date"
                        max="2023-02-03"
                        min="2022-02-03"
                        id="eduCertificateDate"
                        formControlName="eduCertificateDate"
                />
            </div>
        </div>
        <h4 class="step-title">Данные о мед.обследовании</h4>
        <div class="column">
            <div class="control">
                <label for="medCertificateNumber" class="label">Номер справки</label>
                <input
                        class="plain-input"
                        type="text"
                        id="medCertificateNumber"
                        maxlength="9"
                        placeholder="Девять цифр на справке"
                        formControlName="medCertificateNumber"
                />
                <div class="error" *ngIf="certificatesForm.get('medCertificateNumber').invalid && !certificatesForm.get('medCertificateNumber').pristine">
                    <ng-container *ngIf="certificatesForm.get('medCertificateNumber').getError('required')">
                        Поле обязательно для заполнения
                    </ng-container>
                    <ng-container *ngIf="certificatesForm.get('medCertificateNumber').getError('pattern')">
                        Поле может состоять только из цифр
                    </ng-container>
                </div>
            </div>
            <div class="control">
                <label for="medCertificateDate" class="label">Дата получения справки</label>
                <input
                        class="plain-input"
                        type="date"
                        max="2023-02-03"
                        min="2023-01-03"
                        id="medCertificateDate"
                        formControlName="medCertificateDate"
                />
            </div>
        </div>
    </form>
    <form *ngIf="step === 4" [formGroup]="otdelsForm">
        <h4 class="step-title">Где и когда получим котоправа?</h4>
        <div class="column">
            <div class="control">
                <label class="label">Место получения</label>
                <select
                        name="addressOtdel"
                        id="addressOtdel"
                        formControlName="addressOtdel">
                    <option value="">Выбор адреса</option>
                    <option value="3601">Воронеж, ул.Шишкова, 54</option>
                    <option value="3603">Воронеж, ул.Ленина, 36</option>
                    <option value="1506">Москва, ул.9 января, 190</option>
                    <option value="1505">Москва, ул.Пушкина, 15</option>
                    <option value="1784">Санкт-Петербург, ул.Ленина, 31</option>
                    <option value="1782">Санкт-Петербург, ул.Победы, 124</option>
                </select>
            </div>
            <div class="control">
                <label for="dateOtdel" class="label">Дата получения прав</label>
                <input
                        class="plain-input"
                        type="date"
                        min="2023-02-03"
                        max="2023-04-01"
                        id="dateOtdel"
                        formControlName="dateOtdel"
                />
            </div>
        </div>
        <div class="column">
            <div class="control">
                <label class="label">Время получения прав</label>
                <select
                        name="timeOtdel"
                        id="timeOtdel"
                        formControlName="timeOtdel">
                    <option value="">Выбор времени</option>
                    <option value="13:00">13:00</option>
                    <option value="13:30">13:30</option>
                    <option value="14:00">14:00</option>
                    <option value="14:30">14:30</option>
                    <option value="15:00">15:00</option>
                    <option value="16:00">16:00</option>
                    <option value="16:30">16:00</option>
                </select>
            </div>
        </div>
    </form>
    <div *ngIf="step === 5">
        <h4 class="step-title">Подтверждение заявки</h4>
        <p>Кличка:   {{dataPet.name | json}}</p>
        <p>Порода:   {{dataPet.breed | json}}</p>
        <p>Пол:   {{dataPet.sex | json}}</p>
        <p>Возраст:   {{dataPet.age | json}}</p>
        <p>Номер и серия паспорта:   {{dataPassport.passportId | json}}</p>
        <p>Дата получения паспорта:   {{dataPassport.passportDate | json}}</p>
        <p>Номер отделения, где был получен паспорт:   {{dataPassport.numDepartment | json}}</p>
        <p>Адрес регистрации:   {{dataPassport.registration | json}}</p>
        <p>Название авто-школы:   {{dataCertificates.educationPlace | json}}</p>
        <p>Номер сертификата:   {{dataCertificates.eduCertificateNumber | json}}</p>
        <p>Дата получения сертификата:   {{dataCertificates.eduCertificateDate | json}}</p>
        <p>Номер медецинской справки:   {{dataCertificates.medCertificateNumber | json}}</p>
        <p>Дата получения медецинской справки:   {{dataCertificates.medCertificateDate | json}}</p>
        <p>Номер отделения ГИБДД:   {{dataOtdel.addressOtdel | json}}</p>
        <p>Дата получения прав:   {{dataOtdel.dateOtdel | json}}</p>
        <p>Время получения прав:   {{dataOtdel.timeOtdel | json}}</p>
    </div>
    <div class="column buttons">
        <div class="control">
            <button *ngIf="step !== 1 && step !== 2 && step !== 3 && step !== 4 && step !== 5 "
                    class="plain-button" (click)="prev()">Назад</button>
        </div>
        <div class="control">
            <button
                    *ngIf="step === 1"
                    class="plain-button"
                    (click)="next()"
                    [disabled]="step === 1 && petForm.invalid"
            >Далее</button>
        </div>
    </div>
    <div class="column buttons">
        <div class="control">
            <button *ngIf="step === 2" class="plain-button" (click)="prev()">Назад</button>
        </div>
        <div class="control">
            <button
                    *ngIf="step === 2"
                    class="plain-button"
                    (click)="next()"
                    [disabled]="step === 2 && passportForm.invalid"
            >Далее</button>
        </div>
    </div>
    <div class="column buttons">
        <div class="control">
            <button *ngIf="step === 3" class="plain-button" (click)="prev()">Назад</button>
        </div>
        <div class="control">
            <button
                    *ngIf="step === 3"
                    class="plain-button"
                    (click)="next()"
                    [disabled]="step === 3 && certificatesForm.invalid"
            >Далее</button>
        </div>
    </div>
    <div class="column buttons">
        <div class="control">
            <button *ngIf="step === 4" class="plain-button" (click)="prev()">Назад</button>
        </div>
        <div class="control">
            <button
                    *ngIf="step === 4"
                    class="plain-button"
                    (click)="next()"
                    [disabled]="step === 4 && otdelsForm.invalid"
            >Далее</button>
        </div>
    </div>
    <div class="column buttons">
            <div class="control">
                <button *ngIf="step === 5" class="plain-button" (click)="prev()">Назад</button>
            </div>
            <div class="control">
                <button *ngIf="step === 5" class="plain-button" (click)="next()">Подтвердить</button>
            </div>

    </div>
</div>