<div class ="container">
  <!--
 // <div class ="row">1</div>
  //<div class ="row">2</div>
  -<h4><p>{{titlePage}}</p></h4>
  <button class = "plain-button" (click) = "saveData()">Тест</button>
  <div *ngIf="isShow">{{sc}}</div> -->
  <app-order-steps [steps]="steps" [active]="step"></app-order-steps>
  <form style="" *ngIf="step === 1" [formGroup]="ownerRegistrationForm">
  <h3 class="function-title column">Персональная информация</h3>
    <div class="column" >
      <div class="control" >
        <label for="surname" class="label">Фамилия</label>
        <input
          class="plain-input"
          type="text"
          id="surname"
          placeholder="Фамилия"
          formControlName="surname"
        />
        <div class="error" *ngIf="ownerRegistrationForm.get('surname').invalid && !ownerRegistrationForm.get('surname').pristine">
          <ng-container *ngIf="ownerRegistrationForm.get('surname').getError('required')">
            Поле обязательно для заполнения
          </ng-container>
          <ng-container *ngIf="ownerRegistrationForm.get('surname').getError('pattern')">
            Поле может состоять только из букв русского алфавита
          </ng-container>
          <ng-container *ngIf="ownerRegistrationForm.get('surname').errors?.minlength">
            Фамилия не может быть меньше 2 букв
          </ng-container>
          <ng-container *ngIf="ownerRegistrationForm.get('surname').errors?.maxlength">
            Фамилия не может быть больше 20 букв
          </ng-container>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="control">
        <label for="name" class="label">Имя</label>
        <input
          class="plain-input"
          type="text"
          id="name"
          placeholder="Имя"
          formControlName="name"
        />
        <div class="error" *ngIf="ownerRegistrationForm.get('name').invalid && !ownerRegistrationForm.get('name').pristine">
          <ng-container *ngIf="ownerRegistrationForm.get('name').getError('required')">
            Поле обязательно для заполнения
          </ng-container>
          <ng-container *ngIf="ownerRegistrationForm.get('name').getError('pattern')">
            Поле может состоять только из букв русского алфавита
          </ng-container>
          <ng-container *ngIf="ownerRegistrationForm.get('name').errors?.minlength">
            Имя не может быть меньше 2 букв
          </ng-container>
          <ng-container *ngIf="ownerRegistrationForm.get('name').errors?.maxlength">
            Имя не может быть больше 20 букв
          </ng-container>
        </div>
      </div>
      <div class="control">
        <label for="middle_NAME" class="label">Отчество</label>
        <input
          class="plain-input"
          type="text"
          id="middle_NAME"
          placeholder="Отчество"
          formControlName="middle_NAME"
        />
        <div class="error" *ngIf="ownerRegistrationForm.get('middle_NAME').invalid && !ownerRegistrationForm.get('middle_NAME').pristine">

          <ng-container *ngIf="ownerRegistrationForm.get('middle_NAME').getError('pattern')">
            Поле может состоять только из букв русского алфавита
          </ng-container>
          <ng-container *ngIf="ownerRegistrationForm.get('middle_NAME').getError('pattern')">
            Поле может состоять только из букв русского алфавита
          </ng-container>
          <ng-container *ngIf="ownerRegistrationForm.get('middle_NAME').errors?.minlength">
            Отчество не может быть меньше 2 букв
          </ng-container>
          <ng-container *ngIf="ownerRegistrationForm.get('middle_NAME').errors?.maxlength">
            Отчество не может быть больше 50 букв
          </ng-container>
        </div>
      </div>
    </div>
      <div class="column">
        <div class="control">
          <label for="cities" class="label">Город</label>
          <select id="cities" class="plain-select" style='color:gray' oninput='style.color="black"' formControlName="city">
            <option value="" disabled selected hidden>Город</option>
            <option *ngFor="let dt of cities" [ngValue]="dt.city" >{{ dt.city }}</option>
          </select>
          <div class="error" *ngIf="ownerRegistrationForm.get('city').invalid && !ownerRegistrationForm.get('city').pristine">
            <ng-container *ngIf="ownerRegistrationForm.get('city').getError('required')">
              Поле обязательно для заполнения
            </ng-container>


          </div>
        </div>

      <div class="control">
        <label for="district" class="label">Район</label>
        <input
          class="plain-input"
          type="text"
          id="district"
          placeholder="Район"
          formControlName="district"
        />
        <div class="error" *ngIf="ownerRegistrationForm.get('district').invalid && !ownerRegistrationForm.get('district').pristine">

          <ng-container *ngIf="ownerRegistrationForm.get('district').getError('pattern')">
            Поле может состоять только из букв русского алфавита
          </ng-container>
          <ng-container *ngIf="ownerRegistrationForm.get('district').errors?.minlength">
            Район не может быть меньше 2 букв
          </ng-container>
          <ng-container *ngIf="ownerRegistrationForm.get('district').errors?.maxlength">
            Район не может быть больше 64 букв
          </ng-container>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="control">
        <label for="street" class="label">Улица</label>
        <input
          class="plain-input"
          type="text"
          id="street"
          placeholder="Улица"
          formControlName="street"
        />
        <div class="error" *ngIf="ownerRegistrationForm.get('street').invalid && !ownerRegistrationForm.get('street').pristine">

          <ng-container *ngIf="ownerRegistrationForm.get('street').getError('pattern')">
            Поле может состоять только из букв русского алфавита
          </ng-container>
          <ng-container *ngIf="ownerRegistrationForm.get('street').errors?.minlength">
            Район не может быть меньше 2 букв
          </ng-container>
          <ng-container *ngIf="ownerRegistrationForm.get('street').errors?.maxlength">
            Район не может быть больше 128 букв
          </ng-container>
        </div>
      </div>
      <div class="control">
        <label for="building" class="label">Дом</label>
        <input
          class="plain-input"
          type="text"
          id="building"
          placeholder="Дом"
          formControlName="building"
        />
        <div class="error" *ngIf="ownerRegistrationForm.get('building').invalid && !ownerRegistrationForm.get('street').pristine">

          <ng-container *ngIf="ownerRegistrationForm.get('building').getError('pattern')">
            Поле может состоять только из букв русского алфавита
          </ng-container>
          <ng-container *ngIf="ownerRegistrationForm.get('building').errors?.minlength">
            Район не может быть меньше 2 букв
          </ng-container>
          <ng-container *ngIf="ownerRegistrationForm.get('building').errors?.maxlength">
            Район не может быть больше 128 букв
          </ng-container>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="control">
        <label for="email" class="label">Электронная почта</label>
        <input
          class="plain-input"
          type="text"
          id="email"
          placeholder="Электронная почта"
          formControlName="email"
        />
        <div class="error" *ngIf="ownerRegistrationForm.get('email').invalid && !ownerRegistrationForm.get('email').pristine">
          <ng-container *ngIf="ownerRegistrationForm.get('email').getError('required')">
            Поле обязательно для заполнения
          </ng-container>
          <ng-container *ngIf="ownerRegistrationForm.get('email').errors?.email">
            Ошибка ввода почты
          </ng-container>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="control">
        <label for="phone_NUMBER" class="label">Телефонный номер</label>
        <input
          inputmode="tel"

          class="plain-input"
          type="text"
          id="phone_NUMBER"
          placeholder="Телефонный номер"
          formControlName="phone_NUMBER"
        />
        <div class="error" *ngIf="ownerRegistrationForm.get('phone_NUMBER').invalid && !ownerRegistrationForm.get('phone_NUMBER').pristine">

          <ng-container *ngIf="ownerRegistrationForm.get('phone_NUMBER').getError('pattern')">
            Ошибка при вводе. Примеры: +79261234567 | 89261234567
          </ng-container>
          <ng-container *ngIf="ownerRegistrationForm.get('phone_NUMBER').errors?.minlength">
            Телефонный номер не может быть меньше 10 символов
          </ng-container>
          <ng-container *ngIf="ownerRegistrationForm.get('phone_NUMBER').errors?.maxlength">
            Телефонный номер не может быть больше 11 символов
          </ng-container>
        </div>
      </div>
    </div>
    <div class="column">

    </div>


  </form>
  <form *ngIf="step === 2" [formGroup]="catRegistrationForm">
    <h3 class="function-title column">Информация о кошечке</h3>
    <div class="column">
      <div class="control">
        <label for="catName" class="label">Кличка котика</label>
        <input
          class="plain-input"
          type="text"
          id="catName"
          placeholder="Кличка"
          formControlName="name"
        />
        <div class="error" *ngIf="catRegistrationForm.get('name').invalid && !catRegistrationForm.get('name').pristine">
          <ng-container *ngIf="catRegistrationForm.get('name').getError('required')">
            Поле обязательно для заполнения
          </ng-container>
          <ng-container *ngIf="catRegistrationForm.get('name').getError('pattern')">
            Поле может состоять только из букв русского алфавита
          </ng-container>
          <ng-container *ngIf="_getCatName.errors?.minlength">
            Кличка не может быть меньше 2 букв
          </ng-container>
          <ng-container *ngIf="_getCatName.errors?.maxlength">
            Кличка не может быть больше 20 букв
          </ng-container>
        </div>
      </div>
    </div>
      <div class="column">
        <div class="control">
          <label for="breeds" class="label">Порода</label>
          <select id="breeds" class="plain-select" style='color:gray' oninput='style.color="black"' formControlName="breed">
            <option value="" disabled selected hidden>Порода</option>
            <option *ngFor="let dt of breeds" [ngValue]="dt.text" >{{ dt.text }}</option>
          </select>
          <div class="error" *ngIf="catRegistrationForm.get('breed').invalid && !catRegistrationForm.get('breed').pristine ">
            <ng-container *ngIf="catRegistrationForm.get('breed').getError('required')">
              Поле обязательно для заполнения
            </ng-container>
          </div>
        </div>
      <div class="control">
        <label for="catAge" class="label">Возраст</label>
        <input
          class="plain-input"
          type="number"
          id="catAge"
          placeholder="Возраст"
          formControlName="catAge"
        />
        <div class="error" *ngIf="catRegistrationForm.get('catAge').invalid && !catRegistrationForm.get('catAge').pristine">
          <ng-container *ngIf="catRegistrationForm.get('catAge').getError('required')">
            Поле обязательно для заполнения
          </ng-container>
          <ng-container *ngIf="catRegistrationForm.get('catAge').getError('pattern')">
            Поле может состоять только из цифр
          </ng-container>
          <ng-container *ngIf="catRegistrationForm.get('catAge').errors?.max">
            Возраст не может быть выше 25 лет
          </ng-container>
          <ng-container *ngIf="catRegistrationForm.get('catAge').errors?.min">
            Возраст не может быть 0
          </ng-container>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="control">
        <label for="catWeight" class="label">Вес</label>
        <input
          class="plain-input"
          type="number"
          id="catWeight"
          placeholder="Вес"
          formControlName="weight"
          step="0.1000"
        />
        <div class="error" *ngIf="catRegistrationForm.get('weight').invalid && !catRegistrationForm.get('weight').pristine">
          <ng-container *ngIf="catRegistrationForm.get('weight').getError('required')">
            Поле обязательно для заполнения
          </ng-container>
          <ng-container *ngIf="catRegistrationForm.get('weight').getError('pattern')">
            Поле может состоять только из цифр
          </ng-container>
          <ng-container *ngIf="catRegistrationForm.get('weight').errors?.max">
            Вес не может быть выше 22 кг
          </ng-container>
          <ng-container *ngIf="catRegistrationForm.get('weight').errors?.min">
            Вес не может быть меньше 0.1 кг
          </ng-container>
        </div>
      </div>
      <div class="control">
        <div class="label">Пол</div>
        <input class="plain-radio" type="radio" id="male" name="sex" value="Кот" formControlName="sex"/>
        <label for="male">Кот</label>
        <input class="plain-radio" type="radio" id="female" name="sex" value="Кошка" formControlName="sex"/>
        <label for="female">Кошка</label>
      </div>
      <div class="control">
        <div class="label">Имеется ли сертификат о вакцинации</div>
        <input class="plain-radio" type="radio" id="vaccination_yes" name="vaccination_CERTIFICATE" value="Да" formControlName="vaccination_CERTIFICATE"/>
        <label for="vaccination_yes">Да</label>
        <input class="plain-radio" type="radio" id="vaccination_no" name="vaccination_CERTIFICATE" value="Нет" formControlName="vaccination_CERTIFICATE"/>
        <label for="vaccination_no">Нет</label>
      </div>
    </div>
  </form>
  <div *ngIf="step === 3">
    <h3 class="function-title column">Подтверждение заявки</h3>
    <h4 class="function-title column">Хозяин</h4>
    <div class="column">
      <div class="control">
      <label class="label">Фамилия</label>
    <div class="plain-div">{{ownerData.surname}}</div>
      </div>
      <div class="control">
        <label class="label">Имя</label>
        <div class="plain-div">{{ownerData.name}}</div>
      </div>
      <div class="control">
        <label class="label">Отчество</label>
        <div class="plain-div">{{ownerData.middle_NAME}}</div>
      </div>
    </div>
    <div class="column">
      <div class="control">
        <label class="label">Город</label>
        <div class="plain-div">{{ownerAddress.city}}</div>
      </div>
      </div>
    <div class="column">
      <div class="control">
        <label class="label">Район</label>
        <div class="plain-div">{{ownerAddress.district}}</div>
      </div>
      <div class="control">
        <label class="label">Улица</label>
        <div class="plain-div">{{ownerAddress.street}}</div>
      </div>
      <div class="control">
        <label class="label">Дом</label>
        <div class="plain-div">{{ownerAddress.building === "" ? 'Не указан' : ownerAddress.building}}</div>
      </div>
    </div>
    <div class="column">
      <div class="control">
        <label class="label">Телефонный номер</label>
        <div class="plain-div">{{ownerData.phone_NUMBER === "" ? 'Не указан' : ownerData.phone_NUMBER}}</div>
      </div>
      <div class="control">
        <label class="label">Электронная почта</label>
        <div class="plain-div">{{ownerData.email === "" ? 'Не указан' : ownerData.email}}</div>
      </div>
    </div>
    <div *ngIf="catData">
      <h4 class="function-title column">Котик</h4>
      <div class="column">
        <div class="control">
          <label class="label">Кличка</label>
          <div class="plain-div">{{catData.name}}</div>
        </div>
        <div class="control">
          <label class="label">Порода</label>
          <div class="plain-div">{{catData.breed}}</div>
        </div>
      </div>
      <div class="column">
        <div class="control">
          <label class="label">Возраст</label>
          <div class="plain-div">{{catData.age}}</div>
        </div>
        <div class="control">
          <label class="label">Вес</label>
          <div class="plain-div">{{catData.weight}}</div>
        </div>
      </div>
      <div class="column">
        <div class="control">
          <label class="label">Пол</label>
          <div class="plain-div">{{catData.sex}}</div>
        </div>
        <div class="control">
          <label class="label">Имеются ли прививки</label>
          <div class="plain-div">{{catData.vaccination_CERTIFICATE}}</div>
        </div>
      </div>
    </div>

  </div>

  <div class="column buttons">
    <div class="control">
      <button *ngIf="step !== 1" class="plain-button" (click)="prev()">Назад</button>
    </div>
    <div class="control">
      <button class="plain-button" (click)="skipStep()" [disabled]="ownerRegistrationForm.invalid" [hidden]="step !== 1">Пропустить регистрацию котика</button>
    </div>
    <div class="control">
      <button class="plain-button" (click)="goToNextStep()" [disabled]="ownerRegistrationForm.invalid || (step === 2 && catRegistrationForm.invalid)">{{step === 3 ? 'Зарегистрироваться' : 'Далее'}}</button>
    </div>
  </div>
</div>

