/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: #4183c4;
  text-decoration: none;
}

.container {
  max-width: 992px;
  padding: 0 1em;
  margin: 0 auto;
}

.loader {
  width: 300px;
  height: 225px;
  margin: 0 auto;
  background: url(/assets/gif/loader.gif) no-repeat center;
  background-size: 100%;
}

.error {
  color: #ff3a29
}

.column {
  display: flex;
  margin: 0 -1em 1em;

  .control {
    width: 50%;
    padding: 0 1em;
  }

  &.buttons {
    justify-content: space-between;

    .control {
      width: auto;
    }
  }
}

.label {
  display: block;
  margin-bottom: .2em;
}

.plain-input {
  width: 100%;
  padding: 1em;
  border: 1px solid #dededf;
  border-radius: 4px;
}

.plain-radio {
  margin-top: 1em;

  & + label {
    margin: 0 1em 0 .5em;
  }
}

.plain-button {
  padding: 1em;
  border: none;
  border-radius: 4px;
  background: #2185d0;
  color: #ffffff;

  &[disabled] {
    background: #a5a5a5;
  }
}
