.passport-subtitle{
  font-size: 18px;
  color: gray;
  margin-top: 0.5rem;
}
.passport-title{
  font-size: 24px;
  margin: 1rem 0 0 0;
}
.service__field{
  border: 2px solid gray;
  padding: 10px;
  margin: 2rem 0 2rem 0;
  border-radius: 15px;
  transition: .3s linear;
  &:hover{
    background-color: #cbcbcb;
    transition: .3s linear;
  }
}
.form{
  background-color: #F5F5F5;
  padding: 1rem;
  border-radius: 15px;
  border: 2px solid #534f4f;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  &__group{
    margin-bottom: 10px;
  }
  &__button{
    width: 100px;
    padding: 1rem 0 1rem 0;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 16px;
    transition: .3s linear;
    margin: 2rem 0 2rem 0;
    &__sex{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
.form__input{
  width: 100%;
  height: 2.5rem;
  border-radius: 15px;
  font-size: 16px;
  padding: 0 0.5rem 0 0.5rem;
}
.form__img{
  border-radius: none;
}
label{
  margin-top: 10px;
}
.field{
  width: 100%;
  height: 2.5rem;
  border-radius: 15px;
  font-size: 16px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  background-color: white;
  border: 2px solid black;
}
.confirm__title{
  margin: 0 auto;
  text-align: center;
  font-size: 24px;

}
.passport__photo{
  margin: 0 auto 20px auto;
  text-align: center;
  width:120px;
  height: 120px;
  background-color: gray;
  background-size:contain;
}
.radio{
  display: inline;
  width: 2rem;
}