.image {
  width: 300px;
  height: 290px;
  margin: 0 auto;
  background: url(../../../assets/png/404.png) no-repeat center;
  background-size: 100%;
}

.description {
  text-align: center;
  margin: 2em 0 1em;
  font-size: 1.2em;
  color: #212121;
}
